[submodule "public"]
	path = public
	url = https://github.com/TheOberlinGrape/theoberlingrape.github.io.git
[submodule "themes/Centerfold"]
	path = themes/Centerfold
	url = https://github.com/TheOberlinGrape/Centerfold.git
