[submodule "centerfold"]
  path = themes/Centerfold
  url = https://github.com/TheOberlinGrape/Centerfold.git
[submodule "public"]
	path = public
	url = https://github.com/TheOberlinGrape/theoberlingrape.github.io.git
